/*@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);*/
@import 'https://fonts.googleapis.com/css?family=Lato:300,400';

@font-face {
    font-family: CFJacquesCartier;
    src: url(../fonts/CFJacquesCartier-Regular.ttf);
}

.page-title {
    font-family: 'Lato', Sans-Serif;
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 20px;
}

.page-description {
    font-family: 'Lato', Sans-Serif;
    font-weight: 300;
    font-size: 20px;
}

hr {
    height: 0.8px;
    width: 100%;
    border: none;
    color: #dfdfdf;
    background-color: #dfdfdf;
}

@media (max-width: 767px) {
    .content {
        padding-left: 8%;
        padding-right: 8%;
    }
}
@media (min-width: 768px) and (max-width: 1279px) {
    .content {
        padding-left: 18%;
        padding-right: 18%;
    }
}
@media (min-width: 1280px) {
    .content {
        padding-left: 28%;
        padding-right: 28%;
    }
}

.main-header {
    text-align: center;
    margin-bottom: 25px;
}

.list-title {
    font-family: 'Lato', Sans-Serif;
    font-size: 32px;
    font-weight: 400;
    text-indent: -2px;
    letter-spacing: -1px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    text-underline: none;
    color: #1ab09c;
}

a:hover {
    text-decoration: underline;
}

.page-title-link {
    color: #000000;
}

.list-title-link {
    color: #000000;
}

.footer-link {
    color: #000000;
}

.list-article {
    font-family: 'Lato', Sans-Serif;
    font-size: 19px;
    font-weight: 300;
    text-align: justify;
    line-height: 28px;
}

.date-and-tags {
    font-family: 'Lato', Sans-Serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
    color: #afafaf;
}

.tag {
    color: #afafaf;
}

.article {
    margin-bottom: 25px;
}

.site-footer {
    font-family: 'Lato', Sans-Serif;
    font-size: 13px;
    font-weight: 300;
    margin-top: 50px;
    text-align: center;
}

.post-title {
    font-family: 'Lato', Sans-Serif;
    font-size: 42px;
    font-weight: 300;
    text-indent: -2px;
}

.post-header {
    text-align: center;
}

.post-date {
    font-family: 'Lato', Sans-Serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: -35px;
    color: #afafaf;
}

.post-content {
    font-family: 'Lato', Sans-Serif;
    font-weight: 300;
    font-size: 19px;
    /*text-align: justify;*/
    margin-bottom: 25px;
}

.share-title {
    font-family: 'Lato', Sans-Serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}

.share {
    font-family: 'Lato', Sans-Serif;
    font-size: 16px;
    font-weight: 300;
}

.pagination {
    font-family: 'Lato', Sans-Serif;
    font-weight: 300;
    font-size: 19px;
    text-align: center;
}

img {
    position: relative;
    width: 100%;
    left: 50%;
    margin-left: -50%;
}